PruebaBrinks/Connected Services/ServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrden">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Orden" nillable="true" type="tns:Orden" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrden" nillable="true" type="tns:ArrayOfOrden" />
  <xs:complexType name="Orden">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Oficina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="producto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Orden" nillable="true" type="tns:Orden" />
</xs:schema>